body{
    background-color: #f6d051;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
  display: flex;
  align-items: center;
   justify-content: center;
   min-height: 100vh;
}
h1{
    font-size: 25px;
}
.inner-container{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    width: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px black;
    box-shadow: 10px 10px;
       
}
#publish{
    color: black;
    font-size: 14px;
}
p{
    color: hsl(0, 0%, 42%);
    font-size: 16px;
}
img{
    border-radius: 10px;
}
#title-ler{
    background-color: #f6d051;
    padding: 10px;
    color: black;
    font-style:;
    width: 50px;
    font-size: 12px;
    border-radius: 5px;
}
#author{
    display: flex;
}
#profile{
    width: 40px;
    margin-right: 10px;
}
#author-name{
    font-size: 13px;
    color: black;
}
